<%- include('./partials/head')%>

<body>

    <%- include('./partials/navbar') %>

    <div class="content-container">
        <div class="flex-container">
            <div class="flex-item cargarIngreso">
                <p><a id='mesCorriente' href="/cargarIngreso">Cargar Ingreso<i class="fa-solid fa-plus"></i></i></a></p>
            </div>
            <div class="flex-item">
                <p id="mesCorrienteBancarizado">ingresos bancarizados del mes $<%= bancarizadoMesCorriente %></p>
                <tbody>
                    <% ingresosBancarizados.forEach(ingreso => { %>
                        <tr>
                            
                            <td><%= ingreso.cliente %></td>
                            <td><%= ingreso.importe %></td>
                            
                        </tr>
                    <% }); %>
                </tbody>


            </div>
            <div class="flex-item">
                <p id="mesCorrienteBancarizado">ingresos facturados del mes $<%= bancarizadoMesCorriente %>, MAXIMO $537000</p>
                <p>ingresos totales del mes $ <%=sumaImportes %> </p>
            </div>                               

            <div class="flex-item dorada">
                <p>DORADA ciclo 9 cierra 23-07-24 venc 30-07-24 al 1/7 $191.000</p>
            </div>
            
        
        

        <!-- Comentarios eliminados para mayor claridad -->
        <div class="flex-item visa">
        <p>visa cierra el 25-07-24 y vence Mi cumple 05-08-2024 -3/3 $25632 - 3/6 $26361 =$52000</p>
    </div>
    <div class="flex-item">
        <p id="mesCorrienteConsumosBancarizados">consumos bancarizados es $<%= sumaImportesConsumosBancarizados %></p>
    </div>
        <div class="flex-item">
        <p>personal celular te dieron una promo de 6 meses desde 11/4/24 35% aprox $12000</p>
        <p>MAYO - JUNIO- JULIO - AGOSTO - SEPTIEMBRE - OCTUBRE</p>
    </div>
        
        <div class="flex-item">
        <p>la renovacion de la AMEX (VERDE PRINCIPAL) viene en enero 2025 asi q en diciembre deberias de darle de baja</p>
    </div>
    <div class="flex-item">
        <p id="limiteDeFacturacion">Facturacion anual MAXIMA $6.450.000 - $537000(ANTERIOR$2.108.288.01 (175.690,666 x12)llevas) : 
    </p>
    <p id="sumaImportes"></p>
    </div>
        <div class="flex-item"><p>tenes en el banco $72600</p></div>
        <div class="flex-item"><p>tenes en mercadopago $3000</p></div>
        <div class="flex-item"><p>en EFT tenes $30000</p></div>
        
        
        
        <div class="flex-item">
        <p>TOTAL </p>
    </div>
</div>
        <h1>Ingresos Bancarizados</h1>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Importe</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                <% ingresosBancarizados.forEach(ingreso => { %>
                    <tr>
                        <td><%= ingreso.fecha %></td>
                        <td><%= ingreso.cliente %></td>
                        <td><%= ingreso.importe %></td>
                        <td><%= ingreso.categoria %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <h1>Ingresos Bancarizados Mensuales</h1>
        <table>
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Año</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% ingresosBancarizadosMensuales.forEach(ingreso => { %>
                    <tr>
                        <td><%= ingreso.dataValues.mes %></td>
                        <td><%= ingreso.dataValues.anio %></td>
                        <td><%= ingreso.dataValues.total %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <h1>Consumos Bancarizados</h1>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Consumo</th>
                    <th>Importe</th>
                    <th>Tipo de pago</th>
                </tr>
            </thead>
            <tbody>
                <% consumosBancarizados.forEach(consumo => { %>
                    <tr>
                        <td><%= consumo.fecha %></td>
                        <td><%= consumo.consumo %></td>
                        <td><%= consumo.importe %></td>
                        <td><%= consumo.tipo_pago %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        

    </div>
</body>
</html>
