<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>


<div class="content-container">
<p><span id="mesCorrienteBancarizado">El total de ingresos bancarizados del mes corriente es <%= bancarizadoMesCorriente %>, NO PASES EL MAXIMO 175690</span></p>
<p><span id="mesCorrienteConsumosBancarizados">El total de consumos bancarizados del mes corriente es <%= sumaImportesConsumosBancarizados %></span></p>

<p><span id="limiteDeFacturacion">La facturacion anual no puede superar $2.108.288.01(175.690,666 x12 ) anual fecha enero 2024</span></p>

<p>en tus cuentas (ml y banco) deberias tener: xxxxx</p>

    <h1>Ingresos Bancarizados</h1>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Importe</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <% ingresosBancarizados.forEach(ingreso => { %>
                <tr>
                    <td><%= ingreso.fecha %></td>
                    <td><%= ingreso.cliente %></td>
                    <td><%= ingreso.importe %></td>
                    <td><%= ingreso.categoria %></td>

                </tr>
            <% }); %>
        </tbody>
    </table>

    <h1>Consumos Bancarizados</h1>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Consumo</th>
                <th>Importe</th>
                <th>Tipo de pago</th>

            </tr>
        </thead>
        <tbody>
            <% consumosBancarizados.forEach(consumo => { %>
                <tr>
                    <td><%= consumo.fecha %></td>
                    <td><%= consumo.consumo %></td>
                    <td><%= consumo.importe %></td>
                    <td><%= consumo.tipo_pago %></td>



                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>

</div>