<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>


<div class="content-container">
<p><span id="mesCorrienteBancarizado">ingresos bancarizados del mes $<%= bancarizadoMesCorriente %>, MAXIMO $175690</span></p>
<p><span id="mesCorrienteConsumosBancarizados">consumos bancarizados es $<%= sumaImportesConsumosBancarizados %></span></p>

<p><span id="limiteDeFacturacion">La facturacion anual no puede superar $2.108.288.01(175.690,666 x12 ) anual fecha enero 2024</span></p>

<p>en tus banco deberias tener : xxxxx</p>

<p>en tus mercadopago deberias tener : xxxxx</p>

<p>la dorada(secundaria) ciclo 9, cierra el 20-FEBRERO y vence el 27-FEBRERO</p>
<p>la visa cierra el 22-2-2024 y vence el 04-03-2024</p>
<p>la verde(principal) CICLO 5, cierra el 13-DE-FEBRERO y vence el 19 DE FEBRERO</p>


    <h1>Ingresos Bancarizados</h1>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Importe</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <% ingresosBancarizados.forEach(ingreso => { %>
                <tr>
                    <td><%= ingreso.fecha %></td>
                    <td><%= ingreso.cliente %></td>
                    <td><%= ingreso.importe %></td>
                    <td><%= ingreso.categoria %></td>

                </tr>
            <% }); %>
        </tbody>
    </table>

    <% console.log('Datos en la vista:', ingresosBancarizadosMensuales); %>


    <h1>Ingresos Bancarizados Mensuales</h1>
    <table>
      <thead>
        <tr>
          <th>Mes</th>
          <th>Año</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% ingresosBancarizadosMensuales.forEach(ingreso => { %>
            <tr>
                <td><%= ingreso.dataValues.mes %></td>
                <td><%= ingreso.dataValues.anio %></td>
                <td><%= ingreso.dataValues.total %></td>
              </tr>
        <% }); %>
      </tbody>
    </table>
    

    <h1>Consumos Bancarizados</h1>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Consumo</th>
                <th>Importe</th>
                <th>Tipo de pago</th>

            </tr>
        </thead>
        <tbody>
            <% consumosBancarizados.forEach(consumo => { %>
                <tr>
                    <td><%= consumo.fecha %></td>
                    <td><%= consumo.consumo %></td>
                    <td><%= consumo.importe %></td>
                    <td><%= consumo.tipo_pago %></td>



                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>

</div>