<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>

<div class="list-containerI">
      <h1>Consumos agrupados por categoría:</h1>

      <div class="table-wrapper">
        <table id="tablaIngresos" class="list-tableI">
        <tr>
      <!--<th>ID</th>-->
      <th>Fecha</th>
      <th>Consumo</th>
      <th>Importe</th>
      <th>Tipo de Pago</th>
      <th>Categoría</th>
      <th>Texto Libre</th>
      <th>Color</th>
    </tr>
    <% consumosAgrupados.forEach(function(consumo) { %>
      <tr>
        <!--<td><%= consumo.id %></td>-->
        <td><%= consumo.fecha ? new Date(consumo.fecha).toISOString().slice(0, 10) : '-' %></td>

        <td><%= consumo.consumo %></td>
        <td><%= consumo.importe %></td>
        <td><%= consumo.tipo_pago %></td>
        <td><%= consumo.categoria %></td>
        <td><%= consumo.texto_libre || '-' %></td>
        <td><div style="width: 20px; height: 20px; background-color: <%= consumo.color %>"></div></td>
    </tr>
    <% }); %>
    <table>
        
  </table>
</div>
<script>
  //este script es para ordenar por x categoria y agrupar mensual
  //aca se acomdan los numeros por descendente
  function ordenarTablaPorCategoriaYMes() {
  var table = document.getElementById("tablaIngresos");
  var rows = Array.from(table.rows).slice(1); // Obtén todas las filas de la tabla, excepto la primera (encabezados)

  rows.sort(function(a, b) {
    var fechaA = new Date(a.cells[0].innerText); // La fecha se encuentra en la primera celda (índice 0) de cada fila
    var fechaB = new Date(b.cells[0].innerText);
    var categoriaA = a.cells[4].innerText; // La categoría se encuentra en la quinta celda (índice 4) de cada fila
    var categoriaB = b.cells[4].innerText;

    // Ordena primero por categoría y luego por fecha (en caso de que la categoría sea la misma)
    if (categoriaA === categoriaB) {
      return fechaB - fechaA; // Ordena las fechas en forma descendente
    } else {
      return categoriaA.localeCompare(categoriaB); // Ordena las categorías alfabéticamente
    }
  });

  // Elimina las filas existentes de la tabla
  while (table.rows.length > 1) {
    table.deleteRow(1);
  }

  // Agrega las filas ordenadas nuevamente a la tabla
  rows.forEach(function(row) {
    table.appendChild(row);
  });
}

ordenarTablaPorCategoriaYMes();
  </script>
</div>
</div>

</body>
</html>