<h2>Consumos agrupados por categoría:</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Consumo</th>
      <th>Monto</th>
      <th>Tipo de Pago</th>
      <th>Categoría</th>
      <th>Texto Libre</th>
      <th>Color</th>
    </tr>
    <% consumosAgrupados.forEach(function(consumo) { %>
      <tr>
        <td><%= consumo.id %></td>
        <td><%= consumo.fecha ? new Date(consumo.fecha).toISOString().slice(0, 10) : '-' %></td>

        <td><%= consumo.consumo %></td>
        <td><%= consumo.monto %></td>
        <td><%= consumo.tipo_pago %></td>
        <td><%= consumo.categoria %></td>
        <td><%= consumo.texto_libre || '-' %></td>
        <td><div style="width: 20px; height: 20px; background-color: <%= consumo.color %>"></div></td>
    </tr>
    <% }); %>
    <table>
        
  </table>
  