<%- include('./partials/head') %>

<body>

<%- include('./partials/navbar') %>    

<div class="list-containerI">
  <h1>Todos los Gastos</h1>
  <div>
    <canvas id="myChart"></canvas>
    </div>
    
    
  
  <a href="/cargarGasto" id='mesCorriente'>Sumar Gasto Nuevo<i class="fa-solid fa-plus"></i></i></a> </i>

  <p><span id="mesCorriente">el total de gastos mensuales hasta hoy es <%=sumaConsumos%></span></p>
  <p><span id="mesCorriente">el total de gastos del mes pasado fue <%=sumaConsumosMesPasado%> </span></p>
  <div class="table-wrapper">
    <table class="list-tableI">
      
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Consumo</th>
          <th>Importe</th>
          <th>Tipo de Pago</th>
          <th>Categoría</th>
          <th>Texto Libre</th>
          <th>Color</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% consumos.sort((a, b) => new Date(b.fecha) - new Date(a.fecha)).forEach(function(consumo) { %>
          <tr>
            <td><%= consumo.fecha ? new Date(consumo.fecha).toISOString().slice(0, 10) : '-' %></td>
            <td><%= consumo.consumo %></td>
            <td class="importe"><%= consumo.importe %></td>
            <td><%= consumo.tipo_pago %></td>
            <td><%= consumo.categoria %></td>
            <td><%= consumo.texto_libre || '-' %></td>
            <td><div style="width: 20px; height: 20px; background-color: <%= consumo.color %>"></div></td>
            <td>
              <a href="/consumos/editar/<%= consumo.id %>">Editar</a>
              <form action="/consumos/borrar/<%= consumo.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Borrar</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<script>
  window.onload = function() {
    resaltarImporte();
  };

  function resaltarImporte() {
    var importeCells = document.querySelectorAll('.importe');

    importeCells.forEach(function(cell) {
      cell.style.color = 'red';
    });
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    
    <script>
      const categorias = [];
      const totales = [];
    
      // Recorre las filas de la tabla y extrae los valores de categoría y total
      const filas = document.querySelectorAll('tbody tr');
      filas.forEach((fila) => {
        const categoria = fila.querySelector('td:first-child').innerText;
        const total = parseFloat(fila.querySelector('td:last-child').innerText);
        categorias.push(categoria);
        totales.push(total);
      });
    
      // Resto del código del gráfico
      const ctx = document.getElementById('myChart');
    
      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: categorias,
          datasets: [{
            label: 'En cantidad de dinero',
            data: totales,
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
      var canvas = document.getElementById("myChart");
    
    // Modifica el estilo del canvas
    //canvas.style.backgroundColor = "red";
    canvas.style.border = "1px solid black";
    canvas.style.width = "500px";
    canvas.style.height = "300px";
    
    
    </script>
    
    </script>


</body>
</html>
