<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>    

<div class="list-container">
  
  
  <h1>Lista de Consumos</h1>
  <table class="list-tableI">
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Consumo</th>
      <th>Monto</th>
      <th>Tipo de Pago</th>
      <th>Categoría</th>
      <th>Texto Libre</th>
      <th>Color</th>
    </tr>
    <% consumos.forEach(function(consumo) { %>
      <tr>
        <td><%= consumo.id %></td>
        <td><%= consumo.fecha ? new Date(consumo.fecha).toISOString().slice(0, 10) : '-' %></td>

        <td><%= consumo.consumo %></td>
        <td><%= consumo.monto %></td>
        <td><%= consumo.tipo_pago %></td>
        <td><%= consumo.categoria %></td>
        <td><%= consumo.texto_libre || '-' %></td>
        <td><div style="width: 20px; height: 20px; background-color: <%= consumo.color %>"></div></td>
        <td>
          <!-- Agregar botón de editar con enlace al controlador "editar" -->
          <a href="/consumos/editar/<%= consumo.id %>">Editar</a>
          <!-- Agregar botón de borrar con enlace al controlador "borrar" -->
          <form action="/consumos/borrar/<%= consumo.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Borrar</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </table>
</div>

</body>
</html>
