<%- include('./partials/head') %>

<body>

<%- include('./partials/navbar') %>      

<div class="list-container">
  <div class="form-wrapper">
  <h1>Formulario de Carga de Gastos</h1>

  <form id="formulario" action="/guardar" method="POST">
    <label for="date">Fecha:</label>
    <input type="date" id="date" name="date" required><br><br>

    <label for="name">Consumo:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="ammount">Importe:</label>
    <input type="number" id="ammount" name="ammount" required><br><br>

    <label for="py_mtd">Tipo de Pago:</label>
    <select id="py_mtd" name="py_mtd">
      <option value="efectivo">Efectivo</option>
      <option value="tarjeta">Tarjeta de Crédito</option>
      <option value="debito">Débito</option>
      <option value="otro">Otro</option>
    </select><br><br>

    <div id="paymentDetails" style="display: none;">
      <label for="paymentAmount">Importe total con intereses:</label>
      <input type="number" id="paymentAmount" name="paymentAmount" step="0.01" min="0.01"><br><br>

      <label for="installments">Cantidad de Pagos:</label>
      <select id="installments" name="installments">
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="6">6</option>
        <option value="9">9</option>
        <option value="12">12</option>
        <option value="24">24</option>
      </select><br><br>

      <div id="installmentDetails" style="display: none;">
        <label for="installmentAmount">Valor de cada Cuota:</label>
        <input type="number" id="installmentAmount" name="installmentAmount" step="0.01" readonly><br><br>
      </div>
    </div>

    <label for="category">Categoría:</label>
    <select id="category" name="category">
      <option value="comida" data-color="#FF0000" class="categoria-option">
        <span class="categoria-color" style="background-color: #FF0000;"></span>
        Comida
      </option>
      <option value="transporte" data-color="#00FF00" class="categoria-option">
        <span class="categoria-color" style="background-color: #00FF00;"></span>
        Transporte
      </option>
      <option value="entretenimiento" data-color="#0000FF" class="categoria-option">
        <span class="categoria-color" style="background-color: #0000FF;"></span>
        Entretenimiento
      </option>
      <option value="servicios" data-color="#FF0000" class="categoria-option">
        <span class="categoria-color" style="background-color: #FF0000;"></span>
        Servicios
      </option>
      <option value="auto" data-color="#FF0000" class="categoria-option">
        <span class="categoria-color" style="background-color: #FF0000;"></span>
        Auto
      </option>
      <option value="deuda" data-color="#FF0000" class="categoria-option">
        <span class="categoria-color" style="background-color: #FF0000;"></span>
        Deuda
      </option>
      <option value="otro" data-color="#FF0000" class="categoria-option">
        <span class="categoria-color" style="background-color: #FF0000;"></span>
        Otro
      </option>
    </select><br><br>

    <label for="texto-libre">Texto Libre:</label>
    <input type="text" id="texto-libre" name="texto_libre" style="width: 300px; height: 100px;" maxlength="200"><br><br>

    <label for="color">Color:</label>
    <select id="color" name="color">
      <option value="#FF0000" style="background-color: #FF0000;">Rojo</option>
      <option value="#00FF00" style="background-color: #00FF00;">Verde</option>
      <option value="#0000FF" style="background-color: #0000FF;">Azul</option>
      <option value="#FFFF00" style="background-color: #FFFF00;">Amarillo</option>
      <option value="#FF00FF" style="background-color: #FF00FF;">Magenta</option>
      <option value="#00FFFF" style="background-color: #00FFFF;">Cian</option>
      <option value="#000000" style="background-color: #000000; color: #FFFFFF;">Negro</option>
    </select><br><br>

    <input type="submit" value="Guardar">
  </form>
</div>
<div class="form-wrapper">
  <h1>Formulario de Carga de Ingresos</h1>

  <form id="formulario" action="/ingresos" method="POST">
    <label for="date">Fecha:</label>
    <input type="date" id="date-ingresos" name="date" required><br><br>

    <label for="name">Cliente/trabajo:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="ammount">Ingreso $</label>
    <input type="number" id="ammount" name="ammount" required><br><br>
    
    <label for="horas">Cantidad de Horas $</label>
    <input type="number" id="horas" name="horas" required><br><br>

    <label for="py_mtd">Tipo de Pago:</label>
    <select id="py_mtd" name="py_mtd">
      <option value="efectivo">Efectivo</option>
      <option value="transfer">Transferencia</option>
      <option value="debito">Débito</option>
      <option value="otro">Otro</option>
    </select><br><br>

    <label for="category">Categoría de trabajo:</label>
    <select id="category" name="category">
      <option value="jardineria" data-color="#FF0000" class="categoria-option">
        <span class="categoria-color" style="background-color: #FF0000;"></span>
        Jardinería
      </option>
      <option value="arreglos" data-color="#00FF00" class="categoria-option">
        <span class="categoria-color" style="background-color: #00FF00;"></span>
        Arreglos
      </option>
      <option value="otro" data-color="#FF0000" class="categoria-option">
        <span class="categoria-color" style="background-color: #FF0000;"></span>
        Otro
      </option>
    </select><br><br>

    <label for="texto-libre">Texto Libre:</label>
    <input type="text" id="texto-libre" name="texto_libre" style="width: 300px; height: 100px;" maxlength="200"><br><br>

    <label for="color">Color:</label>
    <select id="color" name="color">
      <option value="#FF0000" style="background-color: #FF0000;">Rojo</option>
      <option value="#00FF00" style="background-color: #00FF00;">Verde</option>
      <option value="#0000FF" style="background-color: #0000FF;">Azul</option>
      <option value="#FFFF00" style="background-color: #FFFF00;">Amarillo</option>
      <option value="#FF00FF" style="background-color: #FF00FF;">Magenta</option>
      <option value="#00FFFF" style="background-color: #00FFFF;">Cian</option>
      <option value="#000000" style="background-color: #000000; color: #FFFFFF;">Negro</option>
    </select><br><br>

    <input type="submit" value="Guardar">
  </form>
</div>
</div>



<div class="list-containerI">
<h1>Tabla de Gastos</h1>
<div class="table-wrapper">
  <select id="ordenarPor">
    <option value="fecha">Fecha</option>
    <option value="consumo">Consumo</option>
    <option value="importe">Importe</option>
    <option value="tipo-pago">Tipo de Pago</option>
    <option value="categoria">Categoría</option>
<!--<option value="texto-libre">Texto Libre</option>
    <option value="color">Color</option>
    <option value="fecha-asc">Fecha (ascendente)</option>
      <option value="fecha-desc">Fecha (descendente)</option>
      <option value="monto-mayor">Monto (mayor a menor)</option>
      <option value="monto-menor">Monto (menor a mayor)</option>
    <option value="conintereses">Importe con intereses</option>
    <option value="cantidad-cuotas">Cantidad de cuotas</option>
    <option value="valor-cuota">Valor de cada cuota</option>-->
  </select>
  <table class="gastos list-tableI">
    <thead>

  <tr>
    <th>Fecha</th>
    <th>Consumo</th>
    <th>Importe</th>
    <th>Tipo de Pago</th>
    <th>Categoría</th>
    <th>Texto Libre</th>
    <th>Color</th>
    <th>Importe con intereses</th>
    <th>Cantidad de cuotas</th>
    <th>Valor de cada cuota</th>
    
  </tr>
</thead>
<tbody>

  <% consumos.forEach(function(consumo) { %>
    <tr>
      <td class="fecha"><%= consumo.fecha ? new Date(consumo.fecha).toISOString().slice(0, 10) : '-' %></td>
      <td class="consumo"><%= consumo.consumo %></td>
      <td class="importe"><%= consumo.importe  %></td>
      <td class="tipo-pago"><%= consumo.tipo_pago %></td>
      <td class="categoria"><%= consumo.categoria %></td>
      <td><%= consumo.texto_libre || '-' %></td>

      <td><div style="width: 20px; height: 20px; background-color: <%= consumo.color %>"></div></td>
      <td class="conintereses"><%= consumo.monto_total %></td>
      <td><%= consumo.cantidad_pagos %></td>
      <td><%= consumo.valor_cuota %></td>
    </tr>
  <% }); %>
</table>
</tbody>

</div>
</div>
<script src="../javascripts/scripts.js"></script>

</body>
</html>
