<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>    

<div class="list-container">
  <table class="list-table">
  
  <h1>Lista de Ingresos</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Cobrado</th>
      <th>Horas</th>
      <th>Promedio Ingreso por Hora</th>


      <th>Texto Libre-aclaraciones</th>
      <th>Color</th>
      <th>Categoría</th>

    </tr>
    <% ingresos.forEach(function(ingreso) { %>
      <tr>
        <td><%= ingreso.id %></td>
        <td><%= ingreso.fecha ? new Date(ingreso.fecha).toISOString().slice(0, 10) : '-' %></td>

        <td><%= ingreso.fuente %></td>
        <td><%= ingreso.importe %></td>
        <td><%= ingreso.horas %></td>
        <td><%= (ingreso.importe / ingreso.horas).toFixed(2) %></td>

        
        <td><%= ingreso.texto || '-' %></td>
        <td><div style="width: 20px; height: 20px; background-color: <%= ingreso.color %>"></div></td>
        <td><%= ingreso.tipo_pago %></td>
        <td><%= ingreso.categoria %></td>
    </tr>
    <% }); %>
  </table>
</div>

</body>
</html>
