<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>    

<div class="list-containerI">
    <h1>Lista de Ingresos</h1>
  <div class="table-wrapper">
    <select id="ordenarPorIngreso">
    <option value="fecha">Fecha</option>
    <option value="cliente">Cliente</option>
    <option value="importe">Importe</option>
    <option value="tipo-pago">Tipo de Pago</option>
    <option value="categoria">Categoría</option>
  </select>
  <table class="list-tableI">
    <tr>
      
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Cobrado</th>
      <th>Horas</th>
      <th>Promedio Ingreso por Hora</th>


      <th>Texto Libre-aclaraciones</th>
      <th>Color</th>
      <th>Categoría</th>

    </tr>
    <% ingresos.forEach(function(ingreso) { %>
      <tr>
      
        <td><%= ingreso.fecha ? new Date(ingreso.fecha).toISOString().slice(0, 10) : '-' %></td>

        <td><%= ingreso.cliente %></td>
        <td><%= ingreso.importe %></td>
        <td><%= ingreso.horas %></td>
        <td><%= (ingreso.importe / ingreso.horas).toFixed(2) %></td>

        
        <td><%= ingreso.texto || '-' %></td>
        <td><div style="width: 20px; height: 20px; background-color: <%= ingreso.color %>"></div></td>
        <!--<td><%= ingreso.tipo_pago %></td>-->
        <td><%= ingreso.categoria %></td>
    </tr>
    <% }); %>
  </table>
</div>
</div>
</div>
<script src="../javascripts/scripts.js">
  
</script>

</body>
</html>
